body {
    background-color: #F0F0F2;
}

.active a{
    font-weight: 700;
}

.responsive {
    width: 100%;
    height: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.nav-link {
    transition: transform .2s;
}

.nav-link:hover {
    transform: scale(1.05);
}

.logo {
    max-width: 40px;
    max-height: 40px;
    margin-right: 10px;
}

.content * {
    max-width: 1248px;
}

.carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-caption{
    background-color: rgba(146, 135, 140, 0.50);
    padding: 5px;
    border: black 1px solid;
    border-style: none;
    border-radius: 10px;
    left: 25%;
    right: 25%;
    transition: transform .3s;
}

.carousel-caption:hover{
    transform: scale(1.05);
}

.background {
    background-color: #f5f5f5;
    position: relative;
    margin: 0 auto;
    overflow-x: hidden;
    height: auto;
}

.content {
    display: block;
    background-color: #fff;
    min-width: 320px;
    max-width: 1280px;
    position: relative;
    margin-bottom: 2rem;
    padding: 1rem;
    width: 100%;
    border-radius: 0 0 15px 15px;
    box-shadow: 0 1px 5px 0 rgb(0 0 0 / 20%);
}


.content h1 {
    padding-top: 10px;
    padding-bottom: 2px;
    border-bottom: 3px solid grey;
    font: 800 50px "Source Serif Pro",serif;
}

.content h2 {
    padding-top: 30px;
    padding-bottom: 2px;
    font: 500 35px "Source Serif Pro",serif;
    font-weight: bold;
}

.content h3 {
    padding-top: 30px;
    padding-bottom: 2px;
    font: 500 30px "Source Serif Pro",serif;
    font-weight: bold;
}

.content h4 {
    padding-top: 20px;
    padding-bottom: 2px;
    font: 600 20px/24px "Source Sans Pro",Arial,sans-serif;
}
.content h5 {
    padding-top: 15px;
    padding-bottom: 2px;
    font: 400 20px "Source Serif Pro",serif;
}

.content p {
    padding-top: 1px;
    padding-bottom: 5px;
    font: normal 18px/24px "Source Sans Pro",Arial,sans-serif;
}

.content b {
    color: black;
    
}
.content img {
    margin: 15px 0px;
    border: black 1px solid;
    border-style: none;
    border-radius: 18px;
}

.portionen {
    padding: 5px;
    max-width: 5rem;
    border: 2px solid black;
    border-radius: 5px;
    background-color: beige;
}

.zutaten-tabelle {
    font-size: 20px;
    border-collapse: separate;
    border-spacing: 0 5px;
    
}

.zutaten-tabelle thead tr {
    border-spacing: 100px 0;
}

.zutaten-tabelle th {
    background-color: beige;
    font-weight: 600;
    padding: 10px 10px;
    text-align: center;
    align-items: center;
}

.zutaten-tabelle th:first-child {
    border-left-style: solid;
    border-top-left-radius: 18px; 
    border-bottom-left-radius: 18px;
}

.zutaten-tabelle th:last-child {
    border-right-style: solid;
    border-bottom-right-radius: 18px; 
    border-top-right-radius: 18px; 
}

.zutaten-tabelle td {
    padding: 10px 5px;
    text-align: center;
    border: solid 1px white;
    border-style: none;
    text-align: center;
    align-items: center;
}

.zutaten-tabelle td:first-child {
    border-left-style: solid;
    border-top-left-radius: 18px; 
    border-bottom-left-radius: 18px;
}

.zutaten-tabelle td:last-child {
    border-right-style: solid;
    border-bottom-right-radius: 18px; 
    border-top-right-radius: 18px; 
}

.zutaten-tabelle tr:nth-of-type(odd) td {
    background-color: #dddddd;
}

.zutatenlink {
    display: inline-flex;
    border-radius: 8px;
    background-color: #bfbfbc;
    color: black;
    padding: 4px 8px;
    text-decoration: none;
    align-items: center;
    margin-left: 10px;
    transition: transform .2s;
}

.zutatenlink:hover {
    color: black;
    transform: scale(1.1);
}

.h-with-button {
    display: inline-flex;
}

.rezept {
    clear: left;
}

.rezept a {
    float: left;
    margin-right: 30px;
    max-width: 650px;
}

.recipe_img {
    border: 2px solid black !important;
    border-style: solid !important;
    border-radius: 18px;
    transition: transform .5s;
}

.recipe_img:hover {
    color: black;
    transform: scale(1.03);
    overflow: hidden;
}

.rezeptlink:hover {
    transform: scale(1.02);
    overflow: hidden;
    color: black;
}

.rezeptlink {
    border-radius: 8px;
    border: 0px solid white;
    border-style: none;
    background-color: #bfbfbc;
    color: black;
    padding: 4px 8px;
    text-decoration: none;
    align-items: center;
    transition: transform .2s;
}
.icon {
    transition: transform .4s;
}
.icon:hover {
    color: black;
    transform: scale(1.05);
    overflow: hidden;
    cursor: pointer;
}


/*modifiziert von https://codepen.io/nohoid/pen/eYXpNL */
.rainbow {
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-size: 1000% 1000%;
    animation: rainbow 25s ease infinite;
    filter: blur(5px);

}
@keyframes rainbow {
     0%{background-position:0% 0%}
     50%{background-position:100% 100%}
     100%{background-position:0% 0%}
}